################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StringAdder/bin/Debug
/StringAdder/obj/Debug
/UnitTestStringAdder/obj/Debug
/.vs
/packages
/StringAdder/obj/Release
/UnitTestStringAdder/obj/Release
/UnitTestStringAdder/bin/Debug
